@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #f4f6f9;
	color: #333;
	line-height: 1.6;
}

header {
	background-color: #3498db;
	color: #fff;
	padding: 1rem;
	margin: 0.5rem 1rem 1rem 1rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

header h1 {
	font-weight: 500;
	font-size: 2rem;
	font-family: "Nerko One";
	letter-spacing: 1px;
}

.search {
	position: relative;
	width: 100%;
	max-width: 400px;
}

.search-input {
	width: 100%;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid #008ac5;
	font-size: 1rem;
	background-color: #90d3ff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease;
}

.search-input:focus {
	border-color: #3498db;
	background-color: #d4eeff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	outline: none;
}

.numresult {
	font-size: 1.2rem;
	font-weight: 600;
}

main {
	display: flex;
	height: 79vh;
	padding: 0 1rem;
	width: 100%;
}

.display {
	flex: 5;
}

.container {
	background-color: #2980b9;
	width: 100%;
	padding: 1rem;
}

.note-list {
	background-color: #fff;
	width: 100%;
	max-height: 77vh;
	border-radius: 0.5rem;
	padding: 1rem;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	scrollbar-width: thin;
	list-style-type: none;
}

.note {
	border: 1px solid rgb(0, 0, 0, 0.5);
	background-color: #f9fbfd;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.note-element {
	display: flex;
	justify-content: space-between;
}

.note-element__info h1 {
	font-size: 1.5rem;
	color: #ff3217;
	font-weight: 600;
}

.note p {
	margin-top: 1rem;
	font-size: 1rem;
	color: #0011ff;
}

.note-btn {
	background-color: #3498db;
	color: #fff;
	width: 2.3rem;
	padding-top: 0.3rem;
	padding-left: 0.1rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.note-btn:hover {
	background-color: #ff1919;
}

.actions {
	flex: 3;
	display: flex;
	justify-content: flex-end;
}

.form-add-note {
	background-color: #fff;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-right: 1rem;
	width: 73%;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
	color: #2c3e50;
}

.text,
.textarea {
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid #dfe6e9;
	border-radius: 0.5rem;
	background-color: #f0f0f0;
	margin-bottom: 1rem;
	transition: all 0.2s ease;
}

.text {
	color: #ff3217;
	font-size: 1.4rem;
	font-weight: 600;
}

.textarea {
	font-size: 0.9rem;
	overflow-y: auto;
	scrollbar-width: thin;
	resize: none;
}

.text:focus,
.textarea:focus {
	border-color: #006fb9;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
	outline: none;
}

.btn {
	color: #fff;
	border: none;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.box-btn {
	display: flex;
	justify-content: center;
}

.addnotes-btn {
	background-color: #3498db;
	padding: 0.75rem 2rem;
	font-weight: 700;
}

.addnotes-btn:hover {
	background-color: #1877b6;
}

.open-btn {
	background-color: #2ecc71;
}

.open-btn:hover {
	background-color: #27ae60;
}

.close-btn {
	background-color: #ff4c4c;
}

.close-btn:hover {
	background-color: #ff1919;
}

@media screen and (max-width: 768px) {
	header {
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	main {
		padding: 0;
	}

	.display,
	.actions {
		width: 100%;
	}

	.note-element__info h1 {
		font-size: 1.25rem;
	}
}
